.hero {
    background-image: $imagen_fondo;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .hero {
        background-image: $imagen_fondo;
        height: 650px;
    }
}

.hero2 {
    background-image: $fondo_profesor;
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .hero2 {
        background-image: $fondo_profesor;
        height: 650px;
    }
}

.hero3 {
    background-image: $fondo_clases;
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .hero3 {
        background-image: $fondo_clases;
        height: 650px;
    }
}

.hero4 {
    background-image: $enseñar_fondo;
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .hero4 {
        background-image: $enseñar_fondo;
        height: 650px;
    }
}