html {
    font-size: 72.5%;
}

body {
    font-family: $fuente;
    background-color: $blanco2;
}

.body_premium {
    background-color: $negro3;
}

.body_premium2 {
    background-color: $negro2;
}

.texto_precio {
    color: $dorado;
}

.texto_rojo {
    color: $rojoprimario;
}