html {
    font-size: 72.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--blanco2);
}

.body_premium {
    background-color: #171717;
}

.body_premium2 {
    background-color: #2E2D2D;
}

.texto_precio {
    color: #c9b673;
}