/*boton principal */
.boton_principal {
    color: $blanco1;
    background-color: $rojoprimario;

    &:hover {
        color: $blanco1;
        background-color: $rojosecundario;
        font-weight: bold;

    }
}

.boton_premium {
    color: $negro2;
    background-color: $dorado;

    &:hover {
        color: $negro3;
        background-color: $dorado;
        font-weight: bold;
    }
}