@mixin primario-boton {
    color: $blanco1;
    background-color: $rojoprimario;
}

@mixin primario-boton-hover {
    color: $blanco1;
    background-color: $rojosecundario;
    font-weight: bold;
}

@mixin premium-boton {
    color: $negro2;
    background-color: $dorado;
}

@mixin premium-boton-hover {
    color: $negro3;
    background-color: $dorado;
    font-weight: bold;
}