@mixin background-imagen($imagen_fondo) {
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin background-imagen($fondo_profesor) {
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin background-imagen($fondo_clases) {
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin background-imagen($fondo_clases) {
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin background-imagen($enseñar_fondo) {
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}