/*colores primarios*/
$blanco1: #ffff;
$blanco2: #f0f0f0;
$blanco3: #d8d8d8;
$negro1: #474646;
$negro2: #2E2D2D;
$negro3: #171717;
$rojoprimario: #BE002B;
$dorado: #c9b673;

/*colores secundarios*/
$rojosecundario: #fe0000;
$amarillo: #f5ec00;
$verde: #18ca29;
$morado: #5e01f6;